.DS_Store
trash.txt

.idea/
.vscode/
.nvmrc

/blockchain/build/
!/blockchain/build/contracts/ProofOfPhysicalAddress.json
coverage/

node_modules

web-dapp/server-config-private.js
web-dapp/src/contract-output.json

/.env
