html,
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-width: 980px;
  box-sizing: border-box;
  padding: $header-height 0 $footer-height;
  background-color: #fbfbfc;
}

.container {
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;

  &.page {
    padding: 20px 0;
  }
}

.title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.description {
  color: #8197a2;
  line-height: 24px;
  font-size: 13px;
}

.table {
  display: table;
  width: 100%;
  min-height: 100%;

  &-cell {
    display: table-cell;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 40px;

    &_left,
    &_right {
      width: 50%;
    }

    &_left {
      padding-right: 20px;
      background-color: #fff;
      text-align: right;
    }

    &_right {
      padding-left: 60px;
      background-color: #f5f5f7;
    }
  }
}
