// Order Style
.order-title{
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.form-group{
	margin-bottom: 1.8rem;
}
.info{
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $info;
  cursor: pointer;
}
.svg-info{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.hidden-info{
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 320px;
	padding: 20px;
	font-size: 12px;
	border-radius: 5px;
	background: white;
	border: solid 1px lighten($placeholder, 15%);
	z-index: 99;
}
