button {
  cursor: pointer;
  transition: 0.3s background-color,
    0.3s color;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 0 15px;
  background-color: #08b3f2;
  color: #fff;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #34c3f8;
  }

  &_verify {
    padding-left: 35px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAMAAAB2Mu6sAAAAflBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+yfIzaAAAAKXRSTlMAAkNQUVZXWVpbX2FiY2RmaGlqcnV2d3h6e3x+f4HV29zg5unu8fz9/p7Lt48AAACDSURBVHgBdc1ZDsIwDIThYd9b9lIWKBRKfP8LYo0sRZHD/+R+IzXItXs/+zk/i8gDvotozR/vxs6v9JnzG33qvKZPwHrRD6KFkveg/WxhHen2+dK7AqvoGzC0Yov9Zw1rGUQ7AfvUgZJLHd9NF/YtkFTY0i0Av9Bdq6A+R6ZRcx+m8gNwOBQ4fqwahgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: 12px 9px;
    background-position: left 15px center;
  }

  &_my_addresses {
    padding-left: 35px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAMAAAB2Mu6sAAAAflBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+yfIzaAAAAKXRSTlMAAkNQUVZXWVpbX2FiY2RmaGlqcnV2d3h6e3x+f4HV29zg5unu8fz9/p7Lt48AAACDSURBVHgBdc1ZDsIwDIThYd9b9lIWKBRKfP8LYo0sRZHD/+R+IzXItXs/+zk/i8gDvotozR/vxs6v9JnzG33qvKZPwHrRD6KFkveg/WxhHen2+dK7AqvoGzC0Yov9Zw1rGUQ7AfvUgZJLHd9NF/YtkFTY0i0Av9Bdq6A+R6ZRcx+m8gNwOBQ4fqwahgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: 12px 9px;
    background-position: left 15px center;
    margin-left: 10px;
  }

  &_order {
    padding-left: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAPT5BSUpRUt3f5ufp6vUxUI2NAAAASUlEQVR42rWROw7AMAxC3abN3+b+t80WZYAxb/STsAR2kr0+xnAgEhMVwryhTLpjvg5CFOugTCXc/sGj1PM7d12irl0Plb3taRdkbQmzeFkz0wAAAABJRU5ErkJggg==);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: left 10px center;
  }
}

.label {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: bold;
}

input {
  transition: 0.3s border-color;
  outline: none;
  color: #333;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.input {
  width: 100%;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 10px;

  &:focus {
    border-color: #08b3f2;
  }
}
