.how-to {
  text-align: center;

  &-i {
    position: relative;
    padding-top: 310px;

    &:before {
      @include image-2x('../images/how-to@2x.png', 240px, 1090px);
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-image: url(../images/how-to.png);
    }

    &_fill-form:before {
      width: 240px;
      height: 202px;
      top: 20px;
      background-position: 0 0;
    }

    &_sign-transaction:before {
      width: 189px;
      height: 240px;
      background-position: 0 -202px;
    }

    &_get-postcard:before {
      width: 209px;
      height: 240px;
      background-position: 0 -442px;
    }

    &_type-code:before {
      width: 240px;
      height: 168px;
      top: 40px;
      background-position: 0 -682px;
    }

    &_finalize-proof:before {
      width: 240px;
      height: 240px;
      background-position: 0 -850px;
    }
  }

  &-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;

    span {
      color: #642f9c;
    }
  }

  &-description {
    color: #8197a2;
    line-height: 24px;
    font-size: 13px;
  }

  &-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;

    &-i {
      cursor: pointer;
      transition: 0.3s background-color;
      display: inline-block;
      vertical-align: top;
      width: 8px;
      height: 8px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: #dbdcdd;

      &_active {
        background-color: #08b3f2;
      }
    }
  }
}
