/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html,
body {
  color: #333;
  line-height: 1;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif; }

p {
  line-height: 1.75;
  color: #777; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

::-moz-selection {
  background: #5C34A2;
  text-shadow: none; }

::selection {
  background: #5C34A2;
  color: white;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

img {
  max-width: 100%;
  height: auto; }

button {
  text-align: left;
  transition: .3s;
  cursor: pointer; }

button:focus {
  border-color: #48297f !important;
  box-shadow: none !important;
  outline: none !important; }

a:hover {
  text-decoration: none; }

label {
  vertical-align: top; }

input {
  padding: .575rem .75rem !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #b4b4b4 !important;
  font-style: italic; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #b4b4b4 !important;
  font-style: italic; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #b4b4b4 !important;
  font-style: italic; }

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #b4b4b4 !important;
  font-style: italic; }

.form-control:focus, .btn-primary:focus {
  border-color: #48297f !important; }

.form-control:focus, .btn-success:focus, .btn-danger:focus {
  box-shadow: none !important; }

.image {
  background-size: cover !important; }

.main-title {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }

.action-btn {
  position: relative;
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #5C34A2;
  box-shadow: 0px 5px 10px 0 rgba(92, 52, 162, 0.3);
  color: #ffffff;
  border: none;
  cursor: pointer; }

.action-btn:hover, .btn-primary:hover {
  color: white !important;
  background-color: #48297f !important; }

.btn-arrow {
  position: absolute;
  right: 15px;
  top: 7px; }

.primary-btn {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #5C34A2;
  border: solid 1px #5C34A2;
  background-color: transparent;
  color: #5C34A2;
  cursor: pointer; }

.primary-btn:hover {
  box-shadow: inset 0px 0px 0px 2px #5C34A2; }

.second-title {
  padding-bottom: 10px;
  font-weight: normal; }

.second-text {
  font-size: 14px;
  line-height: 1.71;
  color: #777777;
  margin-bottom: 5px; }

.bottom-copy {
  font-size: 12px;
  color: #5C34A2; }

.footer-social {
  margin-right: 20px; }

.footer-social:last-child {
  margin-right: 0; }

.footer-social:hover svg path {
  fill: #48297f;
  transition: .3s; }

.main-footer {
  width: 100%;
  padding-bottom: 30px; }

.content-preloader {
  justify-content: left;
  align-items: center;
  height: 100vh; }
  .content-preloader .title-mask {
    margin-top: 10px;
    font-size: 24px;
    line-height: 2.67;
    color: #333333; }
  .content-preloader .text-mask {
    margin-top: 10px;
    font-size: 14px;
    color: #777777; }
    .content-preloader .text-mask a {
      color: #5C34A2; }

.l-preload {
  position: relative; }

.l-preload:before {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #61db98;
  animation: pulse 2s infinite; }

@-webkit-keyframes pulse {
  from {
    -webkit-opacity: 0;
    opacity: 0; }
  to {
    -webkit-opacity: 1;
    opacity: 1; } }

@keyframes pulse {
  from {
    -moz-opacity: 0;
    opacity: 0; }
  to {
    -moz-opacity: 1;
    opacity: 1; } }

.order-title {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }

.form-group {
  margin-bottom: 1.8rem; }

.info {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e8e8e8;
  cursor: pointer; }

.svg-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.hidden-info {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 320px;
  padding: 20px;
  font-size: 12px;
  border-radius: 5px;
  background: white;
  border: solid 1px #dadada;
  z-index: 99; }

.info:hover .hidden-info {
  display: block;
  transition: opacity 1s; }

.block-card {
  width: 500px; }

.inner-card {
  padding: 40px 34px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(76, 43, 134, 0.2); }

.card-image {
  position: relative;
  width: 100%;
  object-fit: contain; }

.card-user-name {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #5b32a2; }

.enter-c-title {
  font-size: 14.1px;
  line-height: 1.41;
  color: #333333;
  margin-bottom: 30px; }

.small-c-copy {
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: left;
  color: #777777; }

.btn-success {
  background-color: #61db98;
  border-color: #61db98; }

.btn-primary {
  background: #5C34A2; }

.form-order {
  position: relative; }

.form-order input {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333; }

.form-group .has-feedback #btnSubmit {
  position: relative; }

.form-order .form-group i {
  position: absolute;
  top: 15px;
  right: 16px;
  z-index: 99;
  color: white; }

#btnSubmit {
  position: absolute;
  padding: 10px;
  width: 45px;
  height: 42px;
  margin: 0;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 1;
  border: none !important;
  background-color: #5C34A2; }

#btnSubmit:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 14px;
  background: url(../images/card/arrow.svg) no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.success #btnSubmit {
  background-color: #61db98 !important;
  border: none !important; }

.success #btnSubmit:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 14px;
  background: url(../images/card/verify.svg) no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.warning #btnSubmit {
  background-color: #db184f !important;
  border: none !important; }

.warning #btnSubmit:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 14px;
  background: url(../images/card/warning.svg) no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.warning #btnSubmit:hover {
  background-color: #db184f !important; }

.warning #btnSubmit:hover {
  background-color: #db184f !important; }

.card-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #d7d7d7; }

.card-item:hover {
  box-shadow: 0px 10px 30px 0 rgba(76, 43, 134, 0.2);
  cursor: pointer; }

.card-item img {
  margin-right: 25px; }

.item-adress {
  width: 195px;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important; }

.wrap-btn {
  position: absolute;
  right: 125px; }

.verify-btn {
  opacity: 0;
  padding: 5px 10px;
  margin-right: 25px;
  font-size: 14px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #5c34a2;
  color: #5c34a2; }

.verify-btn:hover {
  box-shadow: inset 0 0 0 2px #5c34a2; }

.card-item:hover .verify-btn {
  opacity: 1; }

.item-data {
  font-size: 14px;
  color: #777777;
  flex-grow: 1 !important;
  text-align: right; }

@media only screen and (max-width: 480px) {
  .block-card {
    width: 100%; }
  .card-item {
    flex-direction: column; }
  .item-adress {
    padding: 10px;
    width: 100%;
    text-align: center; }
  .wrap-btn {
    right: 0;
    text-align: center;
    position: relative;
    margin-bottom: 10px; }
  .verify-btn {
    margin: 0; }
  .card-item img {
    margin-right: 0; } }

@media only screen and (max-width: 768px) {
  .order-title, .main-title, .second-title {
    padding: 20px 0;
    line-height: 1;
    font-size: 26px; }
  .pd-sm-3 {
    padding-top: 20px; }
  .sm-center {
    text-align: center !important; }
  .container {
    padding-right: 15px;
    padding-left: 15px; }
  .full-height {
    padding-left: 0; }
  .action-btn, .primary-btn {
    width: 100%; }
  .card-user-name {
    width: 100px;
    font-size: 12px; } }

@media only screen and (min-width: 320px) {
  .banner-image {
    position: absolute;
    left: 0;
    top: 0;
    display: none; }
  .logo {
    display: block;
    height: 26px;
    margin-top: 23px;
    background: url(../images/logo/logo-top.svg) no-repeat; }
  .main-title {
    padding-top: 40px; }
  .second-title {
    margin-top: 20px; }
  .content {
    margin-top: 40px; }
  footer {
    margin-top: 40px; }
  .d-xs-none {
    display: none !important; }
  .mb-xs-4 {
    margin-bottom: 1.8rem; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .logo {
    background: url(../images/logo/logo-top.svg) no-repeat; } }

@media only screen and (min-width: 700px) {
  .banner-image {
    display: block; }
  .image {
    height: 100%;
    background: url(../images/banner-image/pic@2x.jpg) no-repeat; }
  .second-title {
    margin-top: 40px; }
  footer {
    margin-top: 80px; }
  .sidebar {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width: 37%; }
  .card-item img {
    margin-right: 25px; } }

@media only screen and (min-width: 992px) {
  .sidebar {
    width: 45%; }
  .content {
    opacity: 1;
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
    transform: translateY(2rem); }
  .animate {
    opacity: 1;
    -webkit-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    transform: translateY(0rem);
    -webkit-transition: 1s 0.3s ease;
    -o-transition: 1s 0.3s ease;
    transition: 1s 0.3s ease; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  .image {
    background: url(../images/banner-image/pic@2x.jpg) no-repeat; } }

@media only screen and (min-width: 1300px) {
  .logo {
    background: url(../images/logo/logo-top.png) no-repeat; }
  .second-title {
    margin-top: 60px; }
  .image {
    height: 100%;
    background: url(../images/banner-image/pic@3x.jpg) no-repeat; }
  .content {
    margin-top: 80px; }
  footer {
    margin-top: 110px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1920px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1920px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1920px), only screen and (min-resolution: 192dpi) and (min-width: 1920px), only screen and (min-resolution: 2dppx) and (min-width: 1920px) {
  .image {
    background: url(../images/banner-image/pic@3x.jpg) no-repeat; } }

@keyframes fadeOut {
  0% {
    opacity: .2; }
  20% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: .2;
    transform: scale(0.3); } }

.loading {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 206px;
  margin: -30px 0 0 -81.5px;
  padding-top: 50px; }
  .loading:before {
    /*@include image-2x('../images/loading@2x.png');*/
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 206px;
    height: 35px;
    background-image: url(../images/loading.png);
    background-position: 0 0; }
  .loading-container {
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(35, 29, 115, 0.8); }
  .loading-i {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: linear;
    opacity: .2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff; }
    .loading-i:nth-child(2) {
      animation-delay: .1s; }
    .loading-i:nth-child(3) {
      animation-delay: .2s; }
    .loading-i:nth-child(4) {
      animation-delay: .3s; }
    .loading-i:nth-child(5) {
      animation-delay: .4s; }
    .loading-i:nth-child(6) {
      animation-delay: .5s; }
